{lib_dirs, ["apps", "deps"]}.
{erl_opts,[{parse_transform, lager_transform}, debug_info]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

{deps, [
  {lager, ".*", {git, "git@github.com:basho/lager.git", "HEAD"}},
  {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {erlydtl, ".*", {git, "git@github.com:ulfa/erlydtl.git", "HEAD"}},
  {jsonx, ".*", {git, "git@github.com:iskra/jsonx.git", "HEAD"}},
  {meck, ".*", {git,"git@github.com:eproxus/meck.git", "HEAD"}},
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", "HEAD"}},
  {neo4j, ".*", {git, "git@github.com:dmitriid/neo4j-erlang.git", "HEAD"}}
  ]}.
