<form method="GET" action="/event_types/{{ event_type }}/boat_classes" class="form-horizontal">
  <div class="form-group">
    <label for="year" class="col-sm-2 control-label">Bootsklasse</label>
    <div class="col-sm-10">
      <select name="class" class="form-control">
        {% for c in classes %}
        <option value="{{ c.class }}" {% if c.class == boat_class %}selected="selected"{% endif %}>{{ c.class }}</option>
        {% endfor %}
      </select></dd>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">&Uuml;bersicht erstellen</button>
    </div>
  </div>
</form>